<!DOCTYPE html>
{% load widget_tweaks %}

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Neon Admin Panel">
	<meta name="author" content="">

	<title>Admin | Dashboard</title>


	<link rel="stylesheet" href="../../static/css/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="../../static/css/entypo.css">
	<link rel="stylesheet" href="../../static/css/css.css">
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/css/neon-core.css">
	<link rel="stylesheet" href="../../static/css/neon-theme.css">
	<link rel="stylesheet" href="../../static/css/neon-forms.css">
	<link rel="stylesheet" href="../../static/css/custom.css">

	<script src="../../static/js/jquery-1.11.0.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }



    .note {
      text-align: center;
      height: 80px;
      background: #262b34;
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-group input {
        font-size: 20px; /* 设置输入文字的字体大小为 18 像素 */
    }

    .form-content {
      padding: 5%;
      border: 1px solid darkgreen;
      margin-bottom: 2%;
    }

    .form-group input::placeholder {
        font-size: 20px; /* 设置 placeholder 的字体大小为 18 像素 */
    }



    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: darkgreen;
      color: #fff;
    }

    .menu {
      top: 50px;
    }
  </style>
    <style>
    div.form-group.small_font {
        font-size: 30px;
    }
     </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body class="page-body  page-fade" data-url="http://sc.chinaz.com">

	<div class="page-container">
		<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

		<div class="sidebar-menu">


			<header class="logo-env">

				<!-- logo -->
				<div class="logo">
					<a href="">
						<img src="../../static/picture/logo@2x.png" width="120" alt="">
					</a>
				</div>

				<!-- logo collapse icon -->

				<div class="sidebar-collapse">
					<a href="#"
						class="sidebar-collapse-icon with-animation"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
						<i class="entypo-menu"></i>
					</a>
				</div>



				<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
				<div class="sidebar-mobile-menu visible-xs">
					<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
						<i class="entypo-menu"></i>
					</a>
				</div>


			</header>






			<ul id="main-menu" class="">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
				<!-- Search Bar -->
				<li>
					<a href="/admin-dashboard">
						<i class="entypo-gauge"></i>
						<span>
                            <font size="4" >
                                    DashBoard
                            </font>
                        </span>
					</a>
				</li>


				<li class="active opened active">
					<a href="/admin-doctor">
						<i class="entypo-window"></i>
						<span>
                            <font size="4" >
                                    Doctor
                            </font>
                        </span>
					</a>
				</li>


				<li>
					<a href="/admin-patient">
						<i class="entypo-window"></i>
						<span>
                            <font size="4" >
                                    Patient
                            </font>
                        </span>
					</a>
				</li>

				<li>
					<a href="/admin-appointment">
						<i class="entypo-window"></i>
						<span>
                            <font size="4" >
                                    Appointment
                            </font>
                        </span>
					</a>
				</li>


				<li>
					<a href="/admin-pharmacy">
						<i class="entypo-window"></i>
						<span>
                            <font size="4" >
                                    Pharmacy
                            </font>
                        </span>
					</a>
				</li>

				<li>
					<a href="/admin-treatmentrecord">
						<i class="entypo-window"></i>
						<span>
                            <font size="4" >
                                    TreatmentRecord
                            </font>
                        </span>
					</a>
				</li>

				<li>
					<a href="/admin-wards">
						<i class="entypo-window"></i>
						<span>
                            <font size="4" >
                                    Ward
                            </font>
                        </span>
					</a>
				</li>

                <li>
					<a href="/logout">
						<i class="entypo-window"></i>
						<span>
                            <font size="4" >
                                    Logout
                            </font>
                        </span>
					</a>
				</li>

		</div>
		<div class="main-content">

			<div class="row">

				<!-- Profile Info and Notifications -->
				<div class="col-md-6 col-sm-8 clearfix">

					<ul class="user-info pull-left pull-none-xsm">

						<!-- Profile Info -->
						<li class="profile-info dropdown">
							<!-- add class "pull-right" if you want to place this from right -->

							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="../../static/picture/thumb-1@2x.png" alt="" class="img-circle" width="44">
                                <font size="4">
                                    Admin：{{request.user.first_name}} {{ request.user.last_name}}
                                </font>
							</a>

							<ul class="dropdown-menu">

								<!-- Reverse Caret -->
								<li class="caret"></li>

							</ul>
						</li>

					</ul>

					<ul class="user-info pull-left pull-right-xs pull-none-xsm">

						<!-- Raw Notifications -->
						<li class="notifications dropdown">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<i class="entypo-attention"></i>

							</a>

							<ul class="dropdown-menu">

								<li>
									<ul class="dropdown-menu-list scroller">
									</ul>
								</li>


							</ul>

						</li>

						<!-- Message Notifications -->
						<li class="notifications dropdown">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<i class="entypo-mail"></i>
							</a>

							<ul class="dropdown-menu">

							</ul>

						</li>

						<!-- Task Notifications -->
						<li class="notifications dropdown">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<i class="entypo-list"></i>
								<span class="badge badge-warning"></span>
							</a>

							<ul class="dropdown-menu">

							</ul>

						</li>

					</ul>

				</div>


				<!-- Raw Links -->
				<div class="col-md-6 col-sm-4 clearfix hidden-xs">

					<ul class="list-inline links-list pull-right">

						<!-- Language Selector -->

						<li class="sep"></li>

						<li class="sep"></li>
                        <li>
							<a href="/logout">
								Log Out <i class="entypo-logout right"></i>
							</a>
						</li>
					</ul>

				</div>

			</div>

            <div class="row">
				<div class="col-sm-3">

					<div class="tile-stats tile-red">
						<div class="icon"><i class="entypo-users"></i></div>
                        <br>
						<a href="/admin-view-doctor">
                            <h3 class="m-b-20">Doctor Record</h3>
                        </a>
                        <br>
					</div>

				</div>


				<div class="col-sm-3">

					<div class="tile-stats tile-green">
						<div class="icon"><i class="entypo-users"></i></div>
                        <br>
						<a href="/admin-add-doctor">
                            <h3 class="m-b-20">Register Doctor</h3>
                        </a>
                        <br>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="tile-stats tile-blue">
						<div class="icon"><i class="entypo-users"></i></div>
                        <br>
						<a href="/admin-approve-doctor">
                            <h3 class="m-b-20">Approve Doctor</h3>
                        </a>
                        <br>
					</div>

				</div>


                <div class="col-sm-3">

					<div class="tile-stats tile-blue">
						<div class="icon"><i class="entypo-users"></i></div>
                        <br>
						<a href="/admin-view-doctor-specialisation">
                            <h3 class="m-b-20">Doctor Specialisation</h3>
                        </a>
                        <br>
					</div>

				</div>
			</div>

			<hr>
            <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>
            <font size="4">
            Add New Doctor To Hospital
            </font>
        </p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              {% render_field userForm.first_name class="form-control" style="height:45px" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.username class="form-control" style="height:45px" placeholder="Username" %}
            </div>
            <div class="form-group">
              {% render_field doctorForm.department class="form-control" style="height:45px" placeholder="Department" %}
            </div>
            <div class="form-group small_font">
              {% render_field doctorForm.address class="form-control" style="height:45px" placeholder="Address" %}
            </div>

          </div>
          <div class="col-md-5">
            <div class="form-group">
              {% render_field userForm.last_name class="form-control" style="height:45px" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field userForm.password class="form-control" style="height:45px" placeholder="Password" %}
            </div>
            <div class="form-group">
              {% render_field doctorForm.mobile class="form-control" style="height:45px"  placeholder="Mobile" %}
            </div>
            <div class="form-group">
              {% render_field doctorForm.profile_pic required="required" class="form-control" style="height:45px" placeholder="Profile Picture" %}
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit">
            <font size="4">
            Register
            </font>
        </button>
      </div>
    </div>
  </div>

</form>


			<br>



		</div>

	</div>









	<link rel="stylesheet" href="../../static/css/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="../../static/css/rickshaw.min.css">

	<!-- Bottom Scripts -->
	<script src="../../static/js/main-gsap.js"></script>
	<script src="../../static/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="../../static/js/bootstrap.js"></script>
	<script src="../../static/js/joinable.js"></script>
	<script src="../../static/js/resizeable.js"></script>
	<script src="../../static/js/neon-api.js"></script>
	<script src="../../static/js/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="../../static/js/jquery-jvectormap-europe-merc-en.js"></script>
	<script src="../../static/js/jquery.sparkline.min.js"></script>
	<script src="../../static/js/d3.v3.js"></script>
	<script src="../../static/js/rickshaw.min.js"></script>
	<script src="../../static/js/raphael-min.js"></script>
	<script src="../../static/js/morris.min.js"></script>
	<script src="../../static/js/toastr.js"></script>
	<script src="../../static/js/neon-chat.js"></script>
	<script src="../../static/js/neon-custom.js"></script>
	<script src="../../static/js/neon-demo.js"></script>

</body>

</html>