<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HMS</title>


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }

  </style>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br>
  <br>

  <div class="jumbotron" style="margin-top: 0px;
    margin-bottom: 0px;">
    <h1 class="display-4">Hello {{request.user.first_name}}</h1>
    <p class="lead" style="text-align: center">Your account is pending approval, please wait  <br><br> Admin will check it soon </p>
    <hr class="my-4">
    <p style="text-align: center">Check Later</p>
    <p class="lead" style="text-align: center">
      <a class="btn btn-primary ms-2 ms-xl-0" href="/logout" role="button" >Logout For Now</a>
    </p>
  </div>

  {% include "hospital/footer.html" %}
</body>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

</html>
