{#{% extends 'hospital/patient_base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#<br><br>#}
{##}
{#<head>#}
{#  <meta charset="utf-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
{#  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">#}
{#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">#}
{#  <style type="text/css">#}
{#    a:link {#}
{#      text-decoration: none;#}
{#    }#}
{##}
{#    .menu {#}
{#      top: 50px;#}
{#    }#}
{##}
{#    h6 {#}
{#      color: white;#}
{#    }#}
{##}
{#    .order-card {#}
{#      color: #fff;#}
{#    }#}
{##}
{#    .bg-c-blue {#}
{#      background: linear-gradient(45deg, #4099ff, #73b4ff);#}
{#    }#}
{##}
{#    .bg-c-green {#}
{#      background: linear-gradient(45deg, #2ed8b6, #59e0c5);#}
{#    }#}
{##}
{#    .bg-c-yellow {#}
{#      background: linear-gradient(45deg, #FFB64D, #ffcb80);#}
{#    }#}
{##}
{#    .bg-c-pink {#}
{#      background: linear-gradient(45deg, #FF5370, #ff869a);#}
{#    }#}
{##}
{##}
{#    .card {#}
{#      border-radius: 5px;#}
{#      -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);#}
{#      box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);#}
{#      border: none;#}
{#      margin-bottom: 30px;#}
{#      -webkit-transition: all 0.3s ease-in-out;#}
{#      transition: all 0.3s ease-in-out;#}
{#    }#}
{##}
{#    .card .card-block {#}
{#      padding: 25px;#}
{#    }#}
{##}
{#    .order-card i {#}
{#      font-size: 26px;#}
{#    }#}
{##}
{#    .f-left {#}
{#      float: left;#}
{#    }#}
{##}
{#    .f-right {#}
{#      float: right;#}
{#    }#}
{#  </style>#}
{#</head>#}
{##}
{#<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">#}
{#<div class="container">#}
{#  <div class="row">#}
{#    <div class="col-md-4 col-xl-6">#}
{#      <div class="card bg-c-blue order-card">#}
{#        <div class="card-block">#}
{#          <a href="/patient-view-appointment">#}
{#            <h6 class="m-b-20">View Your Appointment</h6>#}
{#          </a>#}
{#          <br>#}
{#          <h2 class="text-right"><i class="fas fa-calendar f-left"></i></h2>#}
{##}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="col-md-4 col-xl-6">#}
{#      <div class="card bg-c-green order-card">#}
{#        <div class="card-block">#}
{#          <a href="/patient-book-appointment">#}
{#            <h6 class="m-b-20">Book Appointment</h6>#}
{#          </a>#}
{#          <br>#}
{#          <h2 class="text-right"><i class="fas fa-book-medical f-left"></i></h2>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
{#<!--#}
{#  developed By : sumit kumar#}
{#  facebook : fb.com/sumit.luv#}
{#  youtube : youtube.com/lazycoders#}
{#  -->#}
{#<br><br><br><br><br><br><br><br>#}
{#{% endblock content %}#}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Neon Admin Panel">
	<meta name="author" content="">

	<title>patient | Appointment</title>


	<link rel="stylesheet" href="static/css/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="static/css/entypo.css">
	<link rel="stylesheet" href="static/css/css.css">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/neon-core.css">
	<link rel="stylesheet" href="static/css/neon-theme.css">
	<link rel="stylesheet" href="static/css/neon-forms.css">
	<link rel="stylesheet" href="static/css/custom.css">

	<script src="static/js/jquery-1.11.0.min.js"></script>

	<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>

<body class="page-body  page-fade" data-url="http://sc.chinaz.com">

	<div class="page-container">
		<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

		<div class="sidebar-menu">


			<header class="logo-env">

				<!-- logo -->
				<div class="logo">
					<a href="">
						<img src="static/picture/logo@2x.png" width="120" alt="">
					</a>
				</div>

				<!-- logo collapse icon -->

				<div class="sidebar-collapse">
					<a href="#"
						class="sidebar-collapse-icon with-animation"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
						<i class="entypo-menu"></i>
					</a>
				</div>



				<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
				<div class="sidebar-mobile-menu visible-xs">
					<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
						<i class="entypo-menu"></i>
					</a>
				</div>

			</header>






			 <ul id="main-menu" class="">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
				<!-- Search Bar -->
				<li >
					<a href="/patient-dashboard">
						<i class="entypo-gauge"></i>
						<span style="font-size: 20px">Dashboard</span>
					</a>
				</li>



				<li class="active opened active">
					<a href="/patient-appointment">
						<i class="entypo-window"></i>
						<span style="font-size: 20px">Appointments</span>
					</a>
				</li>

				<li>
					<a href="/patient-record">
						<i class="entypo-window"></i>
						<span style="font-size: 20px">Treatment records</span>
					</a>
				</li>

{#                <li>#}
{#					<a href="/patient-discharge">#}
{#						<i class="entypo-window"></i>#}
{#						<span style="font-size: 20px">Discharge</span>#}
{#					</a>#}
{#				</li>#}

                <li>
					<a href="/patient_self_update">
						<i class="entypo-window"></i>
						<span style="font-size: 20px">Edit Info</span>
					</a>
				</li>

                 </ul>
		</div>
		<div class="main-content">

			<div class="row">

				<!-- Profile Info and Notifications -->
				<div class="col-md-6 col-sm-8 clearfix">

					<ul class="user-info pull-left pull-none-xsm">

						<!-- Profile Info -->
						<li class="profile-info dropdown">
							<!-- add class "pull-right" if you want to place this from right -->

							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="static/picture/thumb-1@2x.png" alt="" class="img-circle" width="44">
								Patient：{{request.user.first_name}}
							</a>

							<ul class="dropdown-menu">

								<!-- Reverse Caret -->
								<li class="caret"></li>

								<!-- Profile sub-links -->
								<li>
									<a href="extra-timeline.html">
										<i class="entypo-user"></i>
										Edit Profile
									</a>
								</li>

								<li>
									<a href="mailbox.html">
										<i class="entypo-mail"></i>
										Inbox
									</a>
								</li>

								<li>
									<a href="extra-calendar.html">
										<i class="entypo-calendar"></i>
										Calendar
									</a>
								</li>

								<li>
									<a href="#">
										<i class="entypo-clipboard"></i>
										Tasks
									</a>
								</li>
							</ul>
						</li>

					</ul>

					<ul class="user-info pull-left pull-right-xs pull-none-xsm">

						<!-- Raw Notifications -->
						<li class="notifications dropdown">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<i class="entypo-attention"></i>

							</a>

							<ul class="dropdown-menu">


								<li>
									<ul class="dropdown-menu-list scroller">
									</ul>
								</li>


							</ul>

						</li>

						<!-- Message Notifications -->
						<li class="notifications dropdown">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<i class="entypo-mail"></i>

							</a>

							<ul class="dropdown-menu">

							</ul>

						</li>

						<!-- Task Notifications -->
						<li class="notifications dropdown">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<i class="entypo-list"></i>
								<span class="badge badge-warning"></span>
							</a>

							<ul class="dropdown-menu">

							</ul>

						</li>

					</ul>

				</div>


				<!-- Raw Links -->
				<div class="col-md-6 col-sm-4 clearfix hidden-xs">

					<ul class="list-inline links-list pull-right">

						<!-- Language Selector -->

						<li class="sep"></li>

						<li class="sep"></li>

						<li>
							<a href="/logout" style="font-size: 18px">
								Log Out <i class="entypo-logout right"></i>
							</a>
						</li>
					</ul>

				</div>

			</div>

			<hr>


			<div class="row">
				<div class="col-sm-3">

					<div class="tile-stats tile-red">
						<div class="icon"><i class="entypo-users"></i></div>
                          <a href="/patient-view-appointment">
                            <h3 class="m-b-20">View Your Appointment</h3>
                          </a>
                          <br>
					</div>

				</div>


				<div class="col-sm-3">

					<div class="tile-stats tile-green">
						<div class="icon"><i class="entypo-chart-bar"></i></div>
                      <a href="/patient-book-appointment">
                        <h3 class="m-b-20">Book Appointment</h3>
                      </a>
                      <br>
					</div>

				</div>


			</div>
     <br>
        <br>
        <br>
{#<h3>#}
{#	<span class="label label-warning"></span>#}
{#	Recent Appointments For You <small></small>#}
{#</h3>#}
{#      <table class="table table-hover" id="dev-table">#}
{#        <thead>#}
{#          <tr>#}
{##}
{#            <th>Patient Name</th>#}
{#            <th>Description</th>#}
{#            <th>Mobile</th>#}
{#            <th>Address</th>#}
{#            <th>Date</th>#}
{#          </tr>#}
{#        </thead>#}
{#        {% for a,p in appointments %}#}
{#        <tr>#}
{#          <td>{{a.patientName}}</td>#}
{#          <td>{{a.description}}</td>#}
{#          <td>{{p.mobile}}</td>#}
{#          <td>{{p.address}}</td>#}
{#          <td>{{a.appointmentDate}}</td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#      </table>#}


			<br>
		</div>

	</div>
	</div>
	<link rel="stylesheet" href="static/css/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="static/css/rickshaw.min.css">

	<!-- Bottom Scripts -->
	<script src="static/js/main-gsap.js"></script>
	<script src="static/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="static/js/bootstrap.js"></script>
	<script src="static/js/joinable.js"></script>
	<script src="static/js/resizeable.js"></script>
	<script src="static/js/neon-api.js"></script>
	<script src="static/js/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="static/js/jquery-jvectormap-europe-merc-en.js"></script>
	<script src="static/js/jquery.sparkline.min.js"></script>
	<script src="static/js/d3.v3.js"></script>
	<script src="static/js/rickshaw.min.js"></script>
	<script src="static/js/raphael-min.js"></script>
	<script src="static/js/morris.min.js"></script>
	<script src="static/js/toastr.js"></script>
	<script src="static/js/neon-chat.js"></script>
	<script src="static/js/neon-custom.js"></script>
	<script src="static/js/neon-demo.js"></script>

</body>

</html>
